
.card-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    text-align: center;
    margin: 2rem 0 2rem 0;

}

.card-numbers {
    display: flex;
    flex-direction: row;
}

.card-topic {
    font-size: 40px;
    text-align: center;
    font-family: cursive;
    color: white;
    background: red;
    padding: 0.5rem;
}

.debate-button {
    height: 3rem;
    width: 10rem;
    margin: 1rem 0rem;
    background: black;
    color: maroon;
    border-radius: 1.5rem;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    text-shadow: 1px 1px 2px red;
}

.debate-button:hover {
    height: 3rem;
    width: 10rem;
    margin: 1rem 0rem;
    background: black;
    color: red;
    border-radius: 1.5rem;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    /* text-shadow: 1px 1px 2px red; */
}

.debate-card-pic {
    height: 1050px;
}

.debate-card-wrapper {
    background-image: url('./library2.jpeg');
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 760px;
}

.prof-name {
    text-align: center;
    text-shadow: 2px 2px 3px black;
    font-size: 36px;
    font-weight: 700;
}

.prof-stat {
    margin: 0.5rem 0 0.5rem 0;
    padding: 0.5rem 6rem 0.5rem 6rem;
    background: black;
    color: white;
}

.prof1-stats {
    display: flex;
    flex-direction: column;
    font-size: 32px;
    text-align: center;
}

.prof2-stats {
    display: flex;
    flex-direction: column;
    font-size: 32px;
    text-align: center;
}

.prof-vs {
    margin: 0 2rem 0 2rem;
    color: red;
    font-size: 72px;
    font-weight: 700;
    text-shadow: 2px 2px 3px black;
}

.stat-heading {
    margin: 0.5rem 0 0.5rem 0;
    text-align: center;
    background: red;
    color: white;
    padding: 0.5rem 2rem 0.5rem 2rem;
}

.stats-heading {
    display: flex;
    flex-direction: column;
    font-size: 32px;
}
