.card-heading {
    position: relative;
    top: 22%;
    left: 32%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 32px;
    width: 20rem;
    text-align: center;
}

.card-topic {
    position: relative;
    top: 25%;
    left: 32%;
    font-size: 24px;
    width: 20rem;
    text-align: center;
    margin: 1rem;
}

.debate-card-pic {
    width: 100%;
}

.debate-card-wrapper {
    /* background-image: url('./scroll2.png');
    height: 1400px;
    background-position: center;
    background-repeat: no-repeat; */
    display: flex;
    flex-direction: column;
}

.prof-name {
    text-decoration: underline;
    width: 12rem;
}

.prof-stat {
    margin-bottom: 1.5rem;
}

.prof1-stats {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 28%;
    left: 35%;
    font-size: 32px;
}

.prof2-stats {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 28%;
    left: 39%;
    font-size: 32px;
}


.stat-heading {
    /* margin-top: 0.5rem; */
    margin-bottom: 1.5rem;
    text-align: center;
}

.stats-heading {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 28%;
    left: 36%;
    font-size: 32px;
}
