.create-review-form {
    width: 1024px;
}

.create-review-heading {
    margin: 1rem;
    width: 1024px;
}

.create-review-input {
    margin: 1rem;
    padding: 1rem;
    width: 1024px;
}

.create-review-wrapper {
    display: flex;
    width: auto;
}
