.black {
    color: black;
}

.enter {
    color: white;
    font-size: 24px;
    display: flex;
    flex-direction: column;
}

.enter-a-prof {
    font-size: 32px;
    font-weight: bold;
    color: white;
    text-align: center;
    opacity: 1;
}

.fa-search {
    position: relative;
    left: 3rem;
    top: 0px;
    color: black;
    margin-right: 8px;
  }

.get-started {
    background-image: url('./man-reading-book.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1500px;

    /* background: linear-gradient(0deg, rgba(21, 21, 21, 0.7), rgba(21, 21, 21, 0.7)) 50% / cover, url('man-reading-book.jpeg'); */

    opacity: 0.9;
    position: relative;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 4rem;
}

.hidden {
    display: none;
}

.landing-center {
    margin-left: 5rem;
    color: black;
    font-size: 16px;
    display: flex;
    flex-direction: row;
}

.landing-link {
    margin-right: 1rem;
}

.landing-page {
    margin: 0;
}

.landing-title {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 2rem;
}

.landing-top {
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* padding: 1rem; */
    /* margin: 0 3rem 0 1.5rem; */
    font-size: 15px;
    font-weight: 500;
    color: black;
    background: white;
    margin-bottom: 5rem;
}

.landing-top-right {
    margin-right: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.prof-dropdown-show {
    background-color: white;
    padding: 2rem;
    border-radius: 2rem;
    width: 35rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    /* gap: 20px; */
    cursor: default;
    z-index: 10;
}

.prof-dropdown-hidden {
    display: none;
    padding: 2rem;
}

.prof-search {
    height: 3.5rem;
    width: 35rem;
    padding-left: 3.5rem;
    border: .25px solid lightgrey;
    border-radius: 2rem;
    font-size: 18px;
}


.search-bar-landing {
    margin-top: 12rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 3.5rem;
    width: 30rem;
    padding-left: 1rem;
    /* border: .25px solid lightgrey; */
    border-radius: 30px;
    font-weight: 300;
    font-size: 20px;
    background: white;
}

.search-form {
    margin: 2rem 0 12rem 0;
    text-align: left;
}

.search-placeholder {
    color: lightgray;
}

.search-results-field {
    font-weight: 400
}

.search-results-name {
    margin-bottom: 1rem;
    font-weight: 700;
}

.small-landing-header {
    font-size: 22px;
    color: white;
    text-align: center;
}

#items-hidden {
    display: none;
}

#items-show {
    position: relative;
    left: 1rem;
}
