.resolve-debate-wrapper {
    padding: 1rem;
    /* background-image: linear-gradient(to bottom, rgba(255, 25, 25, 0.5)), rgba(255, 0, 0, 1)), url('./red_die.jpg'); */
    background-image: url('./red_die.jpg');
    background-color: transparent;
    color: black;
    font-weight: 700;
    text-shadow: 3px 3px 4px black;
    border-radius: 2rem;
}
