.create-debate-top {
    display: flex;
    flex-direction: row;
}

.field-text {
    height: 1.5rem;
    width: 20rem;
}

#create-debate-button {
    margin-left: 40%;
}

#create-debate-heading {
    width: 25rem;
}
