* {
  list-style-type: none;
}

a {
  text-decoration: none;
  /* color: rgb(58, 141, 219); */
}

.center-1 {
  margin: 5px;
}

.center-2 {
  margin: 5px;
  padding: 0 8px 0 8px;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.center-3 {
  margin: 5px;
  color: gray;
}


.hidden {
  display: none;
}

.login-button {
  background-color: red;
}

.login-signup-buttons {
  display: flex;
}

.log-out:hover {
  background: hsla(240, 100%, 50%, 0.829);
  color: white;
}

.nav-button {
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.nav-button:hover {
  background: rgb(39, 39, 39);
  border-radius: 20px;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.nav-debate-pic {
  width: 20%;
}

.nav-link {
  margin-right: 1rem;
}

.nav-logo {
  color: white;
  font-size: 20px;
  text-align: left;
  margin-left: 2rem;
}

/* .nav-menu-center {
  display: flex;
  padding: 9px;
  border: 1px solid lightgray;
  border-radius: 25px;
  box-shadow: lightgray 0px 0.5px 0.5px 0.5px;
} */

.nav-menu-center {
  color: white;
  font-size: 16px;
  display: flex;
  flex-direction: row;
}

.nav-menu-center:hover {
  cursor: pointer;
}

.nav-right-menu {
  align-items: center;
  padding: 5px;
  border: 1px solid lightgray;
  border-radius: 25px;
}

.nav-right-menu:hover {
  cursor: pointer;
  box-shadow: lightgray 0px 1px 1px 1px;
}

.nav-wrapper {
  height: 4rem;
  border-bottom: solid 1px grey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* padding: 1rem; */
  /* margin: 0 3rem 0 1.5rem; */
  font-size: 15px;
  font-weight: 500;
  color: white;
  background: black;
}

.nav-wrapper-right {
  margin-right: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile-button-link:hover {
  cursor: pointer;
}

.profile-dropdown {
  text-align: left;
  position: absolute;
  top: 4rem;
  right: 3rem;
  width: 10rem;
  color: black;
  font-size: 16px;
  padding: 10px;
  background-color: white;
  opacity: 1;
  border: 0.5px solid grey;
  border-radius: 6px;
  box-shadow: 1px 1px 1px black;
  z-index: 10;
}

.profile-logout-button {
  height: 2rem;
  border-radius: 0.7rem;
  border: 1px solid black;
  color: white;
  background: rgb(80, 76, 76);
}

.profile-logout-button:hover {
  cursor: pointer;
}

.profile-manage-spots-link {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 0.5rem;
  margin: 0.5rem;
  color: black;
}

.profile-manage-spots-link-a {
  color: black;
}

.profile-menu {
  width: 58px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border: none;
}

.profile-menu:hover {
  cursor: pointer;
}

.user-menu {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

.user-menu-nav:hover {
  background: hsla(240, 100%, 50%, 0.829);
  color: white;
}
