input::placeholder {
    font-weight: bold;
    opacity: 0.5;
}

.signup-errors {
    color: red;
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 32rem;
    margin: 0 3rem;
}

.signup-form-input {
    background-color: white;
    padding: 0.2rem;
    margin: 0.5rem;
    width: 90%;
    border: 2px solid grey;
}

.signup-form-wrapper {
    text-align: center;
    width: 30rem;
    height: 38rem;
}

.submit-signup-button {
    background: black;
    color: white;
    height: 3rem;
    width: 92.5%;
    margin: 1rem;
    border: 1px solid blue;
    border-radius: 25px;
}

.submit-signup-button:hover {
    cursor: pointer;
}
