.prof-list-name {
    font-weight: 700;
    font-size: 18px;
}

.prof-list-field {
    font-weight: 600;
}

.profs-list-heading {
    margin: 2rem;
    font-size: 24px;
    font-weight: 700;
}

.profs-list-item {
    display: flex;
    margin: 2rem;
    background: rgba(230, 230, 230, 0.2);
    height: 10rem;
}

.profs-list-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem;
    width: auto;
}

.profs-list-wrapper {
    margin: 1rem;
}
